<div class="d-flex justify-content-between align-items-center mb-2">
  <div>
    <h1 class="h3 mb-0 d-flex align-items-center gap-2">
      <lucide-angular [img]="Building2Icon" size="24" class="text-primary"></lucide-angular>
      Clientes
    </h1>
    <p class="text-muted mb-0">clientes</p>
  </div>
  
  <!-- Toolbar Actions -->
  <app-button-lib
    (buttonClick)="openFormSidebar()"
    [configuration]="{
      text: 'Nuevo cliente',
      icon: PlusIcon,              
      variant: 'primary',          
      size: 'normal',             
      iconPosition: 'left'
    }">
  </app-button-lib>
</div>

<app-custom-data-table
  [data]="data"
  [columns]="tableColumns()"
  [config]="tableConfig()"
  >
</app-custom-data-table>

<app-sidebar-view
        [config]="formSidebarConfig"
        [title]="'Crear cliente'"
        [isDisabled]="isDisabled"
        (onConfirm)="saveUser()"
        (onCancel)="closeFormSidebar()">
  
  <ng-template #content>
    <app-customer-form (customerEventChange)="onCustomerEventChange($event)"></app-customer-form>
  </ng-template>

  
  <ng-template #footer>
    <div class="sidebar-footer-default">
      
      <app-button-lib
        [configuration]="{
          text: 'Crear cliente',
          icon: PlusIcon,              
          variant: 'primary',          
          size: 'normal',             
          iconPosition: 'right',
          disabled: !isDisabled
        }"
        (buttonClick)="saveUser()"
        >
      </app-button-lib>
    </div>
  </ng-template>
</app-sidebar-view>