<!-- app.component.html -->

@if (!isAuthenticated && isLoginPage) {
  <!-- Solo mostrar el router outlet para login cuando no está autenticado Y está en página de login -->
    <p-toast></p-toast>
  <router-outlet></router-outlet>
} @else if (isAuthenticated && !isLoginPage) {
  <!-- Layout normal con header y sidebar cuando está autenticado Y NO está en página de login -->
  <div class="layout-wrapper">
    <!-- Header Component -->
    <app-header (toggleSidebar)="onToggleSidebar()"></app-header>
    
    <!-- Sidebar Component -->
    <app-sidebar [isExpanded]="sidebarExpanded"></app-sidebar>
    
    <!-- Contenido principal -->
    <div class="layout-main" [class.sidebar-expanded]="sidebarExpanded">
      <div class="layout-content">
         <p-toast></p-toast>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
} @else {
  <!-- Estado de carga o transición -->
  <div class="loading-container">
    <p>Verificando autenticación...</p>
  </div>
}