<div class="d-flex flex-column gap-4">
    <div class="row g-4">
    <div class="col">
        <app-input 
            [label]="'Sku'"
            [placeholder]="'Sku'"
            [control]="productForm.get('sku')"
            [minLength]="3">
        </app-input>
    </div>
    
    <div class="col">
        <app-input 
            [label]="'Name'"
            [placeholder]="'Product Name'"
            [control]="productForm.get('name')"
            [minLength]="2">
        </app-input>
    </div>
        <div class="col">
        <app-input 
            [label]="'description'"
            [placeholder]="'Product description'"
            [control]="productForm.get('description')"
            [minLength]="2">
        </app-input>
    </div>
</div>
<div class="row g-4">
    <div class="col">
        <app-input 
            [label]="'Sku'"
            [placeholder]="'Sku'"
            [control]="productForm.get('price')"
            [minLength]="3">
        </app-input>
    </div>
    
    <div class="col">
        <app-input 
            [label]="'Name'"
            [placeholder]="'Product Name'"
            [control]="productForm.get('costPrice')"
            [minLength]="2">
        </app-input>
    </div>
</div>
<div class="row g-4">
    <div class="col">
        <app-input 
            [label]="'Sku'"
            [placeholder]="'Sku'"
            [control]="productForm.get('sku')"
            [minLength]="3">
        </app-input>
    </div>
    <div class="col">
        <app-select-lib
  label="Categoría"
  placeholder="Selecciona una categoría"
  [options]="categories"
  [control]="productForm.get('category')">
</app-select-lib>
    </div>
    <div class="col">
        <app-input 
            [label]="'Name'"
            [placeholder]="'Product Name'"
            [control]="productForm.get('name')"
            [minLength]="2">
        </app-input>
    </div>
    <div class="col">
        <app-input 
            [label]="'description'"
            [placeholder]="'Product description'"
            [control]="productForm.get('description')"
            [minLength]="2">
        </app-input>
    </div>
    <div class="col">
        <app-input 
            [label]="'description'"
            [placeholder]="'Product description'"
            [control]="productForm.get('description')"
            [minLength]="2">
        </app-input>
    </div>
</div>
<div class="row g-4">
    <div class="col">
        <app-input 
            [label]="'Sku'"
            [placeholder]="'Sku'"
            [control]="productForm.get('sku')"
            [minLength]="3">
        </app-input>
    </div>
    
    <div class="col">
        <app-input 
            [label]="'Name'"
            [placeholder]="'Product Name'"
            [control]="productForm.get('name')"
            [minLength]="2">
        </app-input>
    </div>
    <div class="col">
        <app-input 
            [label]="'description'"
            [placeholder]="'Product description'"
            [control]="productForm.get('description')"
            [minLength]="2">
        </app-input>
    </div>
</div>
<div class="row g-4">
    <div class="col">
        <app-input 
            [label]="'Sku'"
            [placeholder]="'Sku'"
            [control]="productForm.get('sku')"
            [minLength]="3">
        </app-input>
    </div>
    
    <div class="col">
        <app-input 
            [label]="'Name'"
            [placeholder]="'Product Name'"
            [control]="productForm.get('name')"
            [minLength]="2">
        </app-input>
    </div>
    <div class="col">
        <app-input 
            [label]="'Sku'"
            [placeholder]="'Sku'"
            [control]="productForm.get('sku')"
            [minLength]="3">
        </app-input>
    </div>
    
    <div class="col">
        <app-input 
            [label]="'Name'"
            [placeholder]="'Product Name'"
            [control]="productForm.get('name')"
            [minLength]="2">
        </app-input>
    </div>
</div>
</div>